<div class="wrapper">
  <h2>Users List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Admin or User</th>
        <th>Email-id</th>
        <th>User Name</th>
        <th>Phone Number</th>
        <!-- <th>Password</th>
        <th>Confrim Password</th> -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.adminoruser }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.mobileNumber }}</td>
        <!-- <td>{{ user.password }}</td>
        <td>{{ user.confirmPassword }}</td> -->
        <td>
          <button (click)="updateUser(user.id)" class="btn btn-info">
            Update
          </button>
          <button
            (click)="deleteUser(user.id)"
            class="btn btn-danger"
            style="margin: left 10px;"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
