<div class="wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
    <h1 class="title">LOGIN</h1>
    <div class="form-group">
      <input
        formControlName="email"
        type="email"
        id="email"
        class="form-input"
        placeholder="Enter email"
        name="email"
        [(ngModel)]="user.email"
      />
      <div *ngIf="email?.invalid && email?.touched">
        <small *ngIf="email?.errors?.['required']" class="text-danger">
          *Email is required
        </small>
        <small *ngIf="email?.errors?.['email']" class="text-danger">
          *Enter a valid mail id
        </small>
      </div>
    </div>
    <div class="form-group">
      <input
        formControlName="password"
        type="password"
        id="password"
        class="form-input"
        placeholder="Enter password"
        name="password"
        [(ngModel)]="user.password"
      />
      <div *ngIf="password?.invalid && password?.touched">
        <small *ngIf="password?.errors?.['required']" class="text-danger">
          *Password is required
        </small>
        <small *ngIf="password?.errors?.['minlength']" class="text-danger">
          *Atleast 5 characters should be present
        </small>
      </div>
    </div>
    <button [disabled]="loginForm.invalid" class="btn-primary" id="loginButton">
      LOGIN
    </button>
  </form>
  <p class="form-message">
    New user?
    <a routerLink="/signup">SIGNUP</a>
  </p>
</div>
