.wrapper {
  position: relative;
  background: linear-gradient(
    180deg,
    #05445e 0%,
    rgba(5, 68, 94, 0.781907) 45.47%,
    rgba(5, 68, 94, 0.50851) 83.97%,
    rgba(5, 68, 94, 0) 100%
  );
  width: 25rem;
  padding: 2rem;
  border-radius: 20px;
  margin: 2rem auto;
  margin-top: 10%;
  backdrop-filter: blur(4px);
}
.title {
  text-align: center;
  margin: 1rem;
  color: #ffffff;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form-input {
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: linear-gradient(
    180deg,
    #7af2ff 0%,
    rgba(212, 241, 244, 0.5) 0.01%
  );
}
.btn-primary {
  margin: auto;
  display: block;
  border: none;
  border-radius: 10px;
  background: #18a9b9;
}
.form-message {
  text-align: center;
  color: #ffffff;
}
